<h1>Submit a new post</h1>

<% if @post.errors.any? %>
  <% @post.errors.full_messages.each do |message|%>\
  <h3><%= message %> </h3>
  <%end%>
<%end%></br>

<%= "Posting as #{current_user.username}" %>

<%= form_with(model: @post, url: posts_path, method: "post") do |form| %>
  <%= form.label :title, "Title:" %>
  <%= form.text_field :title %>

  <%= form.label :body, "Write your post:" %>
  <%= form.text_area :body %>

  <%= form.submit "Submit post" %>
<% end %>